{% extends "base.html.twig" %}


{% block body %}
    
    <h1 class="bg-blue-500 text-2xl text-center font-bold"> HXHXHXHXHXHXHX.</h1>
    <label>
    <input type="checkbox" class="accent-pink-500" checked>Customized
    </label>
{% endblock %} 